<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Albums</title>
    </head>
    <body>
        {% if albums | length > 1 %}
        <h1>Albums</h1>
        {% for album in albums %}
            <div><a href="/albums/{{album.id}}">Title: {{album.title}} Released: {{album.release_year}}</a></div>
        {% endfor %}

        {% else %}
        <h1>{{albums[0].album.title}}</h1>
        <p>
            Release year: {{albums[0].album.release_year}}
            Artist: {{albums[0].artist}}
        </p>
        {% endif %}
    </body>
</html>