{% extends "base.html" %}
{% block content %}
    <h1>Add a new album</h1>
    <form action="/albums" method="POST">
        {% if props["errors"] %}
        <p class="errors">
          There were errors with your submission: {% if props["artist_error"] %} {{props["artist_error"]}} {% endif %}{{ props["errors"] }}
        </p>
        {% endif %}
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="release-year">Release Year</label>
        <input type="text" name="release-year">
        <label for="artist">Artist</label>
        <input type="text" name="artist">
        <input type="submit" value="Add album">
    </form>
{% endblock %}